@import '../../../shared/styles/base';
@import '../../../shared/styles/common';

.header {
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.row {
  padding-top: 20px;
  padding-bottom: 20px;
  @include flex(_, center);
}

.burgerIcon {
  margin-left: auto;
  @include tablet {
    margin-right: 40px;
  }
  @include desktop {
    display: none;
  }
}

.burgerMenu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 274px;
  z-index: 100;
  background-color: $primary-bg-color;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
  @include desktop {
    display: none;
  }
  &Active {
    composes: burgerMenu;
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
  }
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.navbar {
  display: none;
  @include tablet {
    display: block;
  }
  @include desktop {
    margin-left: auto;
  }
}
