@import '../../../../../shared/styles/base';

.userMenu {
  @include desktop {
    @include flex(_, center);
    flex-direction: row-reverse;
  }
}

.avatar {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 10px;
}

.userContainer {
  @include tablet {
    @include flex(_, center);
  }
}

.logoutIcon {
  display: block;
  @include tablet {
    fill: $secondary-text-color;
  }
}

.userName {
  font-weight: 500;
  color: $white-color;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid $white-color;
  @include tablet {
    color: $secondary-text-color;
    border-right: 1px solid $secondary-text-color;
  }
}

.navList {
  display: none;
  @include desktop {
    @include flex(_, center);
    margin-right: 40px;
  }
}
