@import '../../../../shared/styles/base';
@import '../../../../shared/styles/common';

.container {
  padding-top: 40px;
}

.footerContainer {
  margin-bottom: 28px;
  margin-top: 60px;
  @include tablet {
    margin-bottom: 34px;
    margin-top: 40px;
  }
  @include desktop {
    margin-bottom: 32px;
    margin-top: 80px;
  }
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.231;
  margin-bottom: 10px;
}

.text {
  text-align: center;
  font-size: 14px;
  line-height: 1.214;
  margin-bottom: 40px;
}
