.btn {
  background-image: linear-gradient(180deg, #ffb532 0%, #ffd521 100%);
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  border: none;
  border-radius: 50%;
  outline: none;
  color: #fff;
  font-size: 46px;
}
