@import '../../../../shared/styles/base';
@import '../../../../shared/styles/common';

.container {
  padding-top: 20px;
  position: relative;
  @include tablet {
    padding-top: 40px;
  }
  @include desktop {
    padding-top: 48px;
  }
}
.mainContainer {
  @include desktop {
    @include flex(space-between, center);
  }
}

.weekContainer {
  @include tablet {
    @include flex(center, center);
  }
  @include desktop {
    @include flex(_, center);
  }
}

.title {
  text-align: center;
  font-size: 18px;
  line-height: 1.222;
  margin-bottom: 10px;
  @include tablet {
    margin-bottom: 0;
    margin-right: 10px;
  }
}

.week {
  display: block;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.morePrizes {
  @include mobile-end {
    display: none;
  }
}

.footerContainer {
  margin-bottom: 24px;
  @include tablet {
    margin-bottom: 30px;
  }
  @include desktop {
    margin-bottom: 50px;
  }
}

.scoreBarContainer {
  @include mobile-end {
    display: none;
  }
  @include tablet-end {
    margin-top: 37px;
    margin-bottom: 18px;
  }
}
.scoreBarContainerMob {
  @include tablet {
    display: none;
  }
}

.btnContainer {
  @include mobile-end {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
  @include tablet {
    display: none;
  }
}
.textContainer {
  @include flex(center, center);
  @include desktop {
    @include flex(_, center);
  }
}

.btnContainerTablet {
  @include mobile-end {
    display: none;
  }
  margin-left: 20px;
}

.morePrizes {
  font-weight: 500;
  color: $third-text-color;
}
