@import '../../../../../shared/styles/base';

.contactsItem {
  background-color: $white-color;
  box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  &:not(:last-child) {
    @include mobile-end {
      margin-bottom: 20px;
    }
  }
}

.cardFooter {
  padding: 20px;
}

.name {
  margin-bottom: 6px;
  text-transform: uppercase;
  font-weight: 700;
}

.position {
  margin-bottom: 6px;
  color: $secondary-text-color;
  font-size: 10px;
  line-height: 1.2;
}

.text {
  font-weight: 300;
}
